<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./public/style.css'" />
  <title><%= title %></title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Accueil</a>
      <a href="/services">Nos Services</a>
      <a href="/contact">Nous Contacter</a>
    </nav>
  </header>
  <main>
    <h1>Nos Services</h1>
    <p>Découvrez nos services de qualité.</p>
  </main>
</body>
</html>
